[build]
  base = "cronflow-ui"
  command = "npm run build"
  publish = "dist/cronflow-ui/browser"

[context.production.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
